<div class="row">
  <div class="col-md-6 <% if (locals.isRegistration || locals.isRocketNew) { %>hidden-sm-down<% } %>">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Roquette</h1>
        <p class="lead">A site with pictures of rockets on.</p>
        <h1 class="display-3"><i class="fa fa-rocket" aria-hidden="true"></i></h1>
      </div>
    </div>
  </div>
  <% if (locals.isRegistration) { %>
    <div class="col-md-6 registration-box">
      <%- include ./registrations/_new %>
    </div>
  <% } else if (locals.isRocketNew) { %>
      <div class="col-md-6 rocket-box">
        <%- include ./rockets/new %>
      </div>
  </div>
<% } %>
