<h1>New Rocket</h1>
<main class="container">
  <div class="row">
    <form method="POST" action="/rockets">
      <div class="form-group">
        <label for="name">Rocket Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Rocket Name" required>
      </div>
      <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Enter Rocket Manufacturer" required>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" name="country" placeholder="Enter Rocket Country" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description" placeholder="Enter Rocket Description" required></textarea>
      </div>
      <%# <div class="form-group row">
        <label for="firstFlight" class="col-2 col-form-label">Date of First Flight</label>
        <div class="col-10">
          <input class="form-control" type="date" value="" id="firstFlight" name="firstFlight" required>
        </div>
      </div>%>
      <div class="form-group">
        <label for="image.url">Image URL</label>
        <input type="text" class="form-control" id="image.url" name="image.url" placeholder="Enter Rocket Image URL" required>
      </div>
      <div class="form-group">
        <label for="image.description">Image Description</label>
        <input type="text" class="form-control" id="image.description" name="image.description" placeholder="Enter Rocket Image Description" required>
      </div>
      <%# <h2>Rocket Stats</h2>
      <div class="form-group row">
        <label for="height" class="col-2 col-form-label">Height</label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="height" name="height" aria-describedby="heightHelp" required>
          <small id="heightHelp" class="form-text text-muted">Height calculated in meters.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="payload" class="col-2 col-form-label">Payload</label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="payload" name="payload" aria-describedby="payloadHelp" required>
          <small id="payloadHelp" class="form-text text-muted">Payload to LEO, calculated in kg.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="stages" class="col-2 col-form-label">Stages</label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="stages" name="stages" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="costPerLaunch" class="col-2 col-form-label">Cost per Launch</label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="costPerLaunch" name="costPerLaunch" aria-describedby="costPerLaunchHelp" required>
          <small id="costPerLaunchHelp" class="form-text text-muted">Cost per Launch calculated in denominations of millions of dollars USD.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="totalLaunches" class="col-2 col-form-label">Total Launches</label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="totalLaunches" name="totalLaunches" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="successes" class="col-2 col-form-label">Succesful Launches</label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="successes" name="successes" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="failures" class="col-2 col-form-label">Launch Failures</label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="failures" name="failures" aria-describedby="failuresHelp" required>
          <small id="failuresHelp" class="form-text text-muted">All launch failures including partials.</small>
        </div>
      </div>%>
      <button type="submit" class="btn btn-primary">Create Rocket!</button>
    </form>
  </div>
</main>
