<h1><%= user.username %></h1>
<h2>Cards</h2>
<p><% user.cards.forEach(card => { %>
  <%= card.name %>,
<% }) %></p>
<section class="container">
  <div class="row">
    <div class="col-md-6">
      <%- include ../messages/_index %>
    </div>
    <div class="col-md-6">
      <%- include ../messages/_new %>
    </div>
  </div>
</section>
